<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qbix.tkinfo"
    android:installLocation="internalOnly"
    android:versionCode="11"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name="com.qbix.tkinfo.App"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <activity
            android:name="com.qbix.tkinfo.activities.UpdateActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <receiver android:name="com.qbix.tkinfo.activities.TranskartWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.qbix.tkinfo.ACTION_UPDATE_CARD" />
                <action android:name="com.qbix.tkinfo.ACTION_NEXT_CARD" />
                <action android:name="com.qbix.tkinfo.ACTION_PREVIOUS_CARD" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <activity
            android:name="com.qbix.tkinfo.activities.ShowAllActivity"
            android:label="@string/title_activity_show_info"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.qbix.tkinfo.activities.AddNewCardActivity"
            android:label="@string/title_activity_add_new_card"
            android:theme="@android:style/Theme.Holo.Light"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.qbix.tkinfo.activities.InformationActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>